@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(221, 165, 44);
  background-image: url("../assets/imgs/cenario\ quadra.jpg");
  background-size: cover;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}


.titulo {
  color: #32b9cd;
  width: fit-content;
  font-weight: 500;
}


/* BANNER */

.banner {
  height: fit-content;
  padding: 40px 0;
  color: black;
  background-size: cover;
}

.banner .container {
  background-color: rgb(255, 231, 180);
  border-radius: 10px;
  width: 58%;
  height: 350px;
  justify-content: center;
  align-items: center;
}

.banner .container img {
  padding-left: 35px;
  width: 30%;
}

.tamanho-conteudo { 
  height: fit-content !important;
}

.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 32px;
}

/* missao visao valores */

.social .container{
  width: 80%;
  height: 400px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgb(255, 231, 180);
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* FOOTER */

.footer {
 
  height: 90px;
  color: rgb(0, 0, 0);
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}


