body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e3b062;
    background-image: url("../assets/imgs/cenario\ quadra.jpg");
}

.banner {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.navbar li {
    border-style: solid;
    border-color: rgb(255, 216, 131);
    background-color: rgb(255, 231, 180);
    
}

.navbar a{
    text-decoration: none;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.agora {
    cursor: pointer;
    font-weight: 800;   
}

.banner .painel {
    background-color: rgb(255, 231, 180);
    width: 20%;
    background-image: url("../assets/imgs/hinata.jpg");
    background-size: contain;
    border-style:solid;
}

.banner .navbar {
    padding: 10px;
    height: 520px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.navbar img {
    width: 70%;
}

.container {
    display: flex;
    background-color: white;
    width: 80%;
}

/* Config */

.container .dados {
    width: auto;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    font-size: large;
    background-color: rgb(255, 201, 130);
    border-style: solid;
}

.usuario {
    margin: 20px;
}

.conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.caixa2 {
    width: auto;
    height: 452px;
    background-color: rgb(255, 231, 180);
    border-style: solid;
}

.caixa2 .texto {
    width: 80%;
    font-size: larger;
}

.btn_avaliar {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    width: 12%;
    height: 40px;
    background-color: rgb(255, 168, 53);
    border: none;
    border-radius: 5px;
    margin: 10px;
    color: black;
}

/* TREINO */

header {
    height: 60px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 201, 130);
    border-style: solid;
}

header a {
    text-decoration: none;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner .container {
    display: flex;
    flex-direction: column;
} 

.caixa {
    width: auto;
    height: 515px;
    overflow-y: scroll;
    background-color: rgb(255, 231, 180);
    border-style: solid;
}

.iniciante {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.texto {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 60%;
    font-size: 17px;
}

.iniciante h3 {
    margin-top: 50px;
}

.btn_intervalo {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    width: 12%;
    height: 40px;
    background-color: rgb(255, 168, 53);
    border: none;
    border-radius: 5px;
    margin: 10px;
    color: black;
}

/* ANALYTICS */

.estatistica {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    background-image: url("../assets/imgs/bolaV.jpeg");
    background-size: cover;
}

.card2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
  }

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formulario .tipo_campo {
    font-size: 20px;
    font-weight: 400 !important;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

input {
    width: 200px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    margin-bottom: 30px;
    padding: 2px;
}

.btn_inserir {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    width: 15%;
    height: 40px;
    background-color: rgb(255, 168, 53);
    border: none;
    border-radius: 5px;
    margin: 10px;
    color: black;
}

button {
    cursor: pointer;
  }

.analytics {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 340px;
    border-style: solid;
    justify-content: center;
    background-color: #7694c0;
    background-image: url("../assets/imgs/pessoallegal.jpeg");
    background-size: cover;
}

.valores{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.valores #Quadrado {
    background-color: rgb(255, 231, 180);;
    width: 100px;
    height: 100px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#Quadrado .texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

.valores #Quadrado #totalPartidas {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
}

.valores #Quadrado #qtdVitorias {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
}

.valores #Quadrado #qtdDerrotas {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
}

.valores #Quadrado #qtdPontos {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
}


