@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  background-image: url(".././assets/imgs/volei.jpg");
  background-size: cover;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}


.titulo {

  color: #000000;
  width: fit-content;
  font-weight: 400;
}


/* BANNER */

.banner .container {
  height: 400px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
/* LOGIN */

.banner .container img {
  width: 16%;
  margin-top: 15px;
}

.banner .container .card {
margin-top: auto;
  background-color: #ffffff;
  width: 65%;
  height: 120%;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  border-radius: 4px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e69600 3px solid;
  padding: 20px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
    width: 200px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    margin-bottom: 30px;
    padding: 2px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: none;
  border-radius: 10px;
  font-weight: 550;
  font-size: 19px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: #e68a00;
  width: 120px;
  align-self: center;
  margin: 10px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}
